#This file is whitespace sensitive, include the paths and nothing more

#Locations for media files
media.repository=
media.art=

#Path/command for music player
path.player=

#Locations of scripts
script.spotify.play=
script.spotify.trackdata=
script.youtubedl=