#This file is whitespace sensitive, include the paths and nothing more

#Locations for media files
media.repository=
media.art=
media.uploadlimit=
#Path/command for music player
player.path=

#Track timeout in seconds
player.timeout=

# Youtube-dl script. Make sure this is executable (there is a specific .exe for Windows)
script.youtubedl=
script.dltimeout=

# Database
db.username=
db.password=
db.url=

# last.fm config
scrobble.apikey=
scrobble.secret=
scrobble.name=
scrobble.password=
